---
title: "Change Log"
layout: base
---



<div class="changelog">
	{% for change in site.changelog %}
		<div class="changelog-item">
			<h3>{{ change.title }}</h3>
			<p><span class="date">{{ change.date | date : "%B %d, %Y" }}</span> <span class="badge {{ change.type }}">{{ change.type }}</span></p>
			{{ change.content }}
		</div>
	{% endfor %}
</div>

