

<footer>
   <div class="row">


  {% if page.previous.url %}
	<div align="left">
	    <a href="{{ page.root }}{{page.previous.url}}">&laquo; Prev ({{page.previous.title}})</a>
	</div>
  {% endif %}
  {% if page.next.url %}
	<div align="right">
    	<a class="next" href="{{ page.root }}{{page.next.url}}">Next ({{page.next.title}}) &raquo;</a>
	</div>
  {% endif %}

   </div>

   <div class="row" >
        <div align="right" >
        <h8>
	    <a href="{{site.repository_url}}">Page Source</a>
            |
	    <a href="{{ site.repository_url }}/issues">Contact</a>
        </h8>
        </div>

   </div>
</footer>

