<!-- Creates a keypoints block quote from the header material-->

{% if page.keypoints %}
<blockquote class="keypoints">
  <h2>Key Points</h2>
  <ul>
    {% for keypoint in page.keypoints %}
    <li>{{ keypoint|markdownify }}</li>
    {% endfor %}
  </ul>
</blockquote>
{% endif %}

