<!--Creates an objectives block quote from the header material-->


<blockquote class="objectives">
  <h2>Overview</h2>
  <div class="row">

      <div class="col-md-3">
  {% if page.teaching %}
      <strong>Teaching:</strong> {{ page.teaching }} min
      <br/>
  {% endif %}
  {% if page.excercises %}
      <strong>Exercises:</strong> {{ page.exercises }} min
  {% endif %}
    </div>

  {% if page.questions %}
    <div class="col-md-9">
      <strong>Questions</strong>
      <ul>
	{% for question in page.questions %}
	<li>{{ question|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  {% endif %}
  </div>

  <div class="row">
    <div class="col-md-3">
    </div>
  {% if page.objectives %}
    <div class="col-md-9">
      <strong>Objectives</strong>
      <ul>
	{% for objective in page.objectives %}
	<li>{{ objective|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  {% endif %}
  </div>

</blockquote>

