

<div class="syllabus">
  <h2 id="schedule">Schedule</h2>

  {% assign current = site.start_time %}
  {% assign lesson_number = 0 %}

  <table class="table table-striped">

    <tr>
      <td class="col-md-2"><b> Time </b> </td>
    <td class="col-md-3"><b> Episode Title </b></td>
    <td class="col-md-7"><b> Overview </b></td>
    </tr>

  <tr>
    <td class="col-md-2">{{ setup.time }}</td>
    <td class="col-md-3"><a href="{{ page.root }}/setup.html">Setup</a></td>
    <td class="col-md-7"> Things to complete before starting this lesson.</td>
  </tr>



  {% for episode in site.episodes %}
    {% assign hours = current | divided_by: 60 %}
    {% assign minutes = current | modulo: 60 %}
    <tr>
      <td class="col-md-2">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
      <td class="col-md-3">
        {% assign lesson_number = lesson_number | plus: 1 %}
	{{ lesson_number }}. <a href="{{ page.root }}{{ episode.url }}">{{ episode.title }}</a>
      </td>
      <td class="col-md-7">
        {% if episode.break %}
          Break
        {% else %}
          {% if episode.questions %}
            {% for question in episode.questions %}
              {{question|markdownify|strip_html}}
              {% unless forloop.last %}
              <br/>
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% assign current = current | plus: episode.teaching | plus: episode.exercises | plus: episode.break %}
  {% endfor %}
  {% assign hours = current | divided_by: 60 %}
  {% assign minutes = current | modulo: 60 %}
  <tr>
    <td class="col-md-2">{% if hours < 10 %}0{% endif %}{{ hours }}:{% if minutes < 10 %}0{% endif %}{{ minutes }}</td>
    <td class="col-md-3">Finish</td>
    <td class="col-md-7"></td>
  </tr>
  </table>

</div>

