//----------------------------------------
// Adapted from Software Carpentry
//
//To reference Software Carpentry in publications, please cite:
//
//Greg Wilson: "Software Carpentry: Lessons Learned". F1000Research,
//2016, 3:62 (doi: 10.12688/f1000research.3-62.v2).
//-----------------------------------------

//----------------------------------------
// Colors.
//----------------------------------------

// branding
$color-brand:       #ff0000 !default; // SFRed

// code boxes
$color-error:       #f97000 !default; // Orange
$color-output:      #3c3c3c !default; // Grey
$color-source:      #bc0310 !default; // Brick Red

// blockquotes
$color-callout:     #d5e251 !default; // Mustard Yellow
$color-challenge:   #75ff99 !default; // Green
$color-checklist:   #3c3c3c !default; // Grey
$color-discussion:  #723b31 !default; // Muddy Red
$color-keypoints:   #44bbff !default; // Blue
$color-objectives:  #44bbff !default; // Blue
$color-solution:    #ffba00 !default; // Carrot
$color-prereq:      #ff7575 !default; // Salmon

//----------------------------------------
// Specialized code blocks.
//----------------------------------------


@mixin cdSetup($color) {
  color: $color;
  border-left: solid 5px $color;
  margin-bottom: 2px;
  border-radius: 4px 0 0 4px;

    h2 {
    font-size: 20px;
    color : $color;
    border-color: $color;
    margin-top: 0px;
  }

}

.error  { @include cdSetup($color-error); }
.output { @include cdSetup($color-output); }
.source { @include cdSetup($color-source); }



//----------------------------------------
// Specialized blockquote environments for learning objectives, callouts, etc.
//----------------------------------------

$codeblock-padding: 5px !default;

@mixin bkSetup($color, $glyph) {

  $gradientcolor1: $color;
  $gradientcolor2: scale-color($color, $lightness: 50%);

  padding-left: $codeblock-padding;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: 1px solid;
  border-color: $color;
  padding-bottom: $codeblock-padding;

  h2 {
    padding-top: $codeblock-padding;
    padding-bottom: $codeblock-padding;
    font-size: 20px;
    background: linear-gradient(to bottom, $gradientcolor1, $gradientcolor2);
    border-color: $color;
    margin-top: 0px;
    margin-left: -$codeblock-padding; // to move back to the left margin of the enclosing blockquote
  }
  h2:before {
    font-family: 'Glyphicons Halflings';
    content: $glyph;
    float: left;
    padding-left: $codeblock-padding;
    padding-right: $codeblock-padding;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }

}

.callout{ @include bkSetup($color-callout, "\e122"); }         // Bullhorn
.challenge{ @include bkSetup($color-challenge, "\e034"); }     // Flag
.checklist{ @include bkSetup($color-checklist, "\e067"); }     // Checked Box
.discussion{ @include bkSetup($color-discussion, "\e008"); }   // Person
.keypoints{ @include bkSetup($color-keypoints, "\e105"); } 	   // Open Eye
.objectives{ @include bkSetup($color-objectives, "\e024"); }   // Road
.prereq{ @include bkSetup($color-prereq, "\e136"); }		   // Wrench
.solution{ @include bkSetup($color-solution, "\e043"); }       // Book

//----------------------------------------
// Override Bootstrap settings.
//----------------------------------------

code {
  padding: 2px 5px;
  color: #3d90d9;
  background-color: #e7e7e7;
}

img {
  max-width: 100%;
}

//----------------------------------------
// Miscellaneous.
//----------------------------------------

.maintitle {
  text-align: center;
}

.footertext {
  text-align: right;
}

ul,
ol {
  padding-left: 2em;
}

span.fold-unfold {
  margin-left: 1em;
  opacity: 0.5;
}
