$gray-dark:                 #333333;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #fafaf8;

$blue-light:                #9CD7f7;
$blue:                      #077cbc;
$blue-dark:                 #061F2F;
$blue-darker:               #061F2F;
$blue-darkest:              #101c29;


$white:                     #FFFFFF;
$black:                     #000000;

$red:                       #FF0000;
$green:                     #00FF00;
$light-yellow:              #FFFFE0;
