---
layout: null
sitemap: false
---

// COLORS - INDEX ------------------
$gray-dark:                 #333333;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #fafaf8;

$blue-light:                #9CD7f7;
$blue:                      #077cbc;
$blue-dark:                 #061F2F;
$blue-darker:               #061F2F;
$blue-darkest:              #101c29;


$white:                     #FFFFFF;
$black:                     #000000;

$red:                       #FF0000;
$green:                     #00FF00;
$light-yellow:              #FFFFE0;


$body-background-color: $gray-lighter;

$content-max-width: 800px;
$content-color: #222;
$content-background-color: $gray-lighter;

$brand-colour: $gray-lighter;
$brand-colour-light: $gray-lighter;

$nav-header-background-color: $gray-lighter;
$nav-header-height: 60px;
$nav-background-color: $gray-lighter;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;





@import "variables";
@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";
@import "episodes";
