---
---



<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content="Jekyll v{{ jekyll.version }}">


		<link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/bootstrap.css" />
    	<link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Open+Sans:400,400italic,600,600italic,700,700italic|Inconsolata:400,700">
		<link rel="stylesheet" href="{{ page.root }}/assets/css/main.css">

		<link rel="apple-touch-icon" href="{{ page.root }}/images/assets/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ page.root }}/images/assets/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ page.root }}/images/assets/favicon.png">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

	</head>

<body>
	<header>
		<!-- Logo and Title -->

		<h1>
			{{ site.title }}
			<button type="button" class="open-nav" id="open-nav"></button>
		</h1>



		<!-- Search bar -->
		<form action="{{ page.root }}/search/" method="get">
			<input type="text" name="q" id="search-input" placeholder="Search" autofocus>
			<input type="submit" value="Search" style="display: none;">
		</form>




		<nav class="full-navigation">

		<!-- Over View -->
		<ul>
			<li class="full-navigation">
				<a href="{{ page.root }}"> Lesson Overview </a>
			</li>
		</ul>

		<!-- Unroll titles as links for navigation -->
		{% for episode in site.episodes %}
		<ul>
			<li> <a href="{{ page.root }}{{ episode.url }}">{{ episode.title }} </a>   </li>
		</ul>
		{% endfor %}

		<!-- Change Log-->
		<ul>
			<li class="full-navigation">
			{% assign changelog = site.html_pages | where: 'url', '/changelog/' | first %}
			<a href="{{ page.root }}/changelog.html"> Change Log </a>
			</li>
		</ul>


		</nav>


	</header>

	<!-- Where the content lives -->
		<section class="main">
			<div class="page-header">
				<h2>{% if page.category %}{{ page.category }}{% else %}{{ site.title }}{% endif %}</h2>
				<h3>{{ page.title }}</h3>
			</div>
			<article class="content">
				{{ content }}
			</article>

		</section>



	<!-- Handle interactive elements-->
		<script>
			document.getElementById("open-nav").addEventListener("click", function () {
				document.body.classList.toggle("nav-open");
			});
		</script>
	<!-- Solution folding here -->
		<script>
			$(".solution").click(function(event) {
				var trigger = $(event.target).has(".fold-unfold").size() > 0
						   || $(event.target).filter(".fold-unfold").size() > 0;
				if (trigger) {
					$(">*:not(h2)", this).toggle(400);
					$(">h2>span.fold-unfold", this).toggleClass("glyphicon-collapse-down glyphicon-collapse-up");
					event.stopPropagation();
				}
			});
			$(".solution").each(function() {
				$(">*:not(h2)", this).toggle();
				var h2 = $("h2:first", this);
				h2.append("<span class='fold-unfold glyphicon glyphicon-collapse-down'></span>");
			});

		</script>


</body>
</html>



